name: Build, Push to Docker Hub, and Deploy to GKE

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      GKE_CLUSTER: ${{ secrets.GKE_CLUSTER }}
      GKE_LOCATION: ${{ secrets.GKE_LOCATION }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      IMAGE_NAME: task-api
      IMAGE_TAG: latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

 # 1) Authenticate to Google Cloud using your service account JSON
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 2) Install gcloud SDK AND gke-gcloud-auth-plugin
      - name: Set up gcloud SDK
        uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: ${{ env.PROJECT_ID }}
          install_components: gke-gcloud-auth-plugin

      # 3) Get GKE credentials (this will setup kubeconfig using the plugin)
      - name: Get GKE credentials
        env:
          USE_GKE_GCLOUD_AUTH_PLUGIN: "True"
        run: |
          gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_LOCATION

      # 4) Apply Kubernetes manifests using kubectl
      - name: Apply Kubernetes manifests
        env:
          USE_GKE_GCLOUD_AUTH_PLUGIN: "True"
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/mongo.yaml
          kubectl apply -f k8s/api.yaml
